@import "_theme";

* {
   margin: 0;
   padding: 0;
}

body, html{
   width: 100%;
   height: 100%;
   background-color: $app-white;
   font-family: $app-font;
}

canvas {
   width: 100%;
}

h1 {
  color: $app-black;
  text-transform: uppercase;
  text-align: center;
  padding: 5%;
}
